{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/calculators/molar_mass.js' %}"></script>
{% endblock %}

{% block title %}{{ molar_mass.title }} {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center text-white display-4">{{ molar_mass.title }}</h1>

    <div id="calculator">
        <div class="inline-block text-center mt-5">
            <input type="text" id="insertThis" class="col-6 col-sm-4 col-md-3 col-lg-2">
            <input type="button" id="insertNow" class="col-3 col-sm-2 col-md-2 col-lg-1" value="Indsæt">

            <div class="mt-3">
                <p>
                    <small>Eksempler:<br>
                        NaCl = NaCl<br>
                        C2H6 = C<sub>2</sub>H<sub>6</sub>
                    </small>
                </p>
            </div>
        </div>

        <div class="col-10 col-sm-8 col-md-6 col-lg-4 mt-5 mx-auto">
            <table class="table table-bordered bg-primary">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" id="molarTitle" class="text-center">-----</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">n:</th>
                        <td><input type="text" id="n" value=""></td>
                    </tr>
                    <tr>
                        <th scope="row">m:</th>
                        <td><input type="text" id="m" value=""></td>
                    </tr>
                    <tr>
                        <th scope="row">M:</th>
                        <td><input type="text" id="M" value=""></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" id="calc" class="btn-block">Beregn</button>
            <button type="button" id="reset" class="mt-3 float-right w-25">Reset</button>

            <div class="clearfix"></div>

            <ul class="list-unstyled text-left mt-3">
                {% for description in field_descriptions %}
                <li><small><em>{{ description }}</em></small></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}