{% extends '_layout.html' %}

{% block title %}Forside {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center text-white display-4">Velkommen til KemiSpil</h1>
    <div class="card w-50 mt-5 mx-auto">
        <div class="card-body text-success">
            <p>KemiSpil er et lille hyggeprojekt, hvor man har mulighed for at øve sig i forskellige kemi-emner på en anderledes måde.</p>
            <p>Der vil løbende blive tilføjet nye emner / redskaber.</p>
        </div>
    </div>
</div>
{% endblock %}